#flagga{
    height: 10px;
    width: 10px;
}

body{
    background-color:rgb(87, 87, 149);
}

#English{
    width: 20px;
    height: 10px;
    right: 10px;
    top: 10px;
}

#lang_eng{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
}