body{
    background-color:rgb(87, 87, 149);

}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#flagga{
    height: 25px;
    width: 25px;
    border-radius: 3px;
}

#menuIcon{
    height: 25px;
    width: 25px;
    border-radius: 3px;
}

#lang_eng{
    position: absolute; 
    top: 10px;  
    right: 50px;   
}

#English{
    height: 25px;
    width: 25px;
    border-radius: 3px;

    position: fixed; 
    top: 10px;  
    right: 10px; 
}

#English:hover{
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#lang_swe{
    position: absolute; 
    top: 10px;  
    right: 50px;   
}

#Svenska{
    height: 25px;
    width: 25px;
    border-radius: 3px;

    position: fixed; 
    top: 10px;  
    right: 50px; 
}


#Svenska:hover{
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer{

}